*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main div h1 {
    font-size: 58px;
    color: #FF66C4;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
}
div nav {
    display: inline-block;
    margin: 55px;
}

div nav h2 {
    color: #FF66C4;
    font-size: 32px;
    text-align: center;
}

a img {
    width: 182.6px;
    height: 182.6px;
}