* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.042vw;
    background-color: #ffaddc;

    border: 0.104vw solid #ff66c4;

    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5.052vw; /* ajustando altura para vw */

    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 0.8333vw; /* ajustando tamanho da fonte para vw */
}

footer h1 {
    font-size: 0.8333vw; /* ajustando tamanho da fonte para vw */
}

.left {
    color: #0cc0df;
}

.right {
    margin: 0px 2.083vw; /* ajustando margem para vw */
}

.right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.right ul li {
    display: inline;
    margin-right: 0.521vw; /* ajustando margem direita para vw */
}

.right ul li a {
    color: #0cc0df;
}

.space-holder {
    height: 5.208vw; /* ajustando altura para vw */
}

/* Media Queries */

@media screen and (max-width: 768px) {
    footer {
        padding: 1.042vw; /* ajustando padding para vw */
    }

    .right {
        margin: 0px 1.042vw; /* ajustando margem para vw */
    }
}
