* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* KITS */

main > h1 {
    color: #ff66c4;
    font-family: "Rubik", sans-serif;
    font-size: 3.125vw; /* ajustando tamanho da fonte para vw */
    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
}

main section {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-kit {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 26.667vw; /* ajustando largura para vw */
    height: 29.167vw; /* ajustando altura para vw */

    border: 0.052vw solid #ff14a4; /* ajustando largura da borda para vw */
    border-radius: 3.75vw; /* ajustando raio da borda para vw */

    margin: 1.042vw 2.083vw 2.083vw 1.042vw; /* ajustando margem para vw */

    background-color: #0cc0df;
}

.image-kits {
    width: 18.333vw; /* ajustando largura para vw */
    height: 12.5vw; /* ajustando altura para vw */

    border-radius: 1.042vw; /* ajustando raio da borda para vw */

    margin: 1.042vw 0.416vw 1.562vw 0.416vw; /* ajustando margem para vw */
}

.price-kit {
    font-size: 0.729vw; /* ajustando tamanho da fonte para vw */
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

    color: black;
}

.name-kit {
    font-family: "Rubik", sans-serif;
    font-size: 0.8333vw; /* ajustando tamanho da fonte para vw */
    font-weight: bold;

    color: #ff14a4 ;

    margin-bottom: 1.042vw; /* ajustando margem inferior para vw */
}

.container-kit > p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.625vw; /* ajustando tamanho da fonte para vw */
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

    color: black;
}

.description-kit {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-size: 0.625vw; /* ajustando tamanho da fonte para vw */
    text-transform: uppercase;
    text-align: center;

    color: black;

    margin-top: 0.521vw; /* ajustando margem superior para vw */
}

.description-kit li {
    line-height: 1.8;
}

.container-main button {
    background-color: #ff66c4;

    width: 10.9375vw; /* ajustando largura para vw */
    height: 2.5vw; /* ajustando altura para vw */

    margin-bottom: 2.083vw; /* ajustando margem inferior para vw */

    border: 0.104vw solid #0cc0df; /* ajustando largura da borda para vw */
    border-radius: 3.75vw; /* ajustando raio da borda para vw */

    color: #fff;
    font-size: 0.729vw; /* ajustando tamanho da fonte para vw */
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
}

.container-main button:hover {
    background-color: #0cc0df;
    color: black;
    border: 0.104vw solid #ff66c4; /* ajustando largura da borda para vw */
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .container-kit {
        width: 90%; /* ajustando largura para vw */
    }

    .container-main button {
        width: 15vw; /* ajustando largura para vw */
        height: 3.125vw; /* ajustando altura para vw */
    }
}
