* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* MAIN */

main{
    background-color: #fff6ff;
}

main > h1{
    color: #ff66c4;
    font-family: "Rubik", sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 30px;
}

.content h2{
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;

    margin-top: 15px;
}

.content p{
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    color: black;

    margin-top: 40px;
    margin-left: 30px;
    max-width: 590px;
    max-height: 260px;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
}