* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    max-height: 139px;
}

/* MAIN */

body, main {
    background-color: #fff6ff;
}

main > div > h1 {
    display: flex;
    justify-content: center;

    color: #ff66c4;
    font-family: "Rubik", sans-serif;
    font-size: 4.427vw;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    display: flex;
    justify-content: center;
}

main > div > nav {
    display: inline-block;
    margin: 3.896vw;
}

div > nav h2 {
    color: #ff66c4;
    font-family: "Rubik", sans-serif;
    font-size: 2.604vw;
    font-weight: bold;
    text-align: center;
}

a > img {
    width: 12.083vw;
    height: 12.083vw;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
}

/* Media Query */

@media screen and (max-width: 768px) {
    main > div > h1 {
        font-size: 6.25vw;
    }

    div > nav h2 {
        font-size: 4.167vw;
    }

    a > img {
        width: 31.25vw;
        height: 31.25vw;
    }
}
