/* Main */
main {
    padding: 2vw;
    text-align: center;
}

main h1 {
    font-family: 'Rubik', sans-serif;
    color: #FF66C4;
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

.mainBanner .banner-img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 1vw;
}

.carrossel-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 2vw;
}

button.prev,
button.next {
    background-color: #FF66C4;
    color: white;
    border: none;
    padding: 1vw 2vw;
    font-size: 1vw;
    border-radius: 5px;
    cursor: pointer;
    margin: 1vw;
}

button.prev:hover,
button.next:hover {
    background-color: #0CC0DF;
}

/* Call to Action */
.call-to-action {
    margin-top: 2vw;
}

.cta-button {
    background-color: #FF66C4;
    color: white;
    text-decoration: none;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    border-radius: 5px;
    display: inline-block;
}

.cta-button:hover {
    background-color: #0CC0DF;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    main {
        padding: 1vw;
    }

    h1 {
        font-size: 4vw;
    }

    .mainBanner .banner-img {
        max-width: 100%;
    }

    .carrossel-container {
        flex-direction: column;
    }

    button.prev,
    button.next {
        padding: 0.5vw 1vw;
        font-size: 2vw;
    }

    .cta-button {
        font-size: 2vw;
    }
}
