/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffaddc;
    
    border: 3px solid #ff66c4;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 73px;

    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 16px;
}   

footer h1 {
    font-size: 16px;
}

.left {
    color: #0cc0df;
}

.right {
    margin: 0px 40px;
}

.right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.right ul li {
    display: inline;
    margin-right: 10px;
}

.right ul li a {
    color: #0cc0df;
}

.space-holder {
    height: 100px;
}
